body {
  background: linear-gradient(to left, #511886, black);
  color:white;
  font-family:impact;
  display:flex;
  align-items: center;
  justify-content: center;
  
}
h1{
  width:42ch;
  white-space:nowrap;
  overflow:hidden;
  animation:typing 2s steps(31) forwards;
}
@keyframes typing{
  from {
    width: 0;
  }
  
}