<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comparateur</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bienvenue dans notre page de comparateur de produit</h1>
    <div class="contenu">
        <p>
            Ce site we est un comparateur de produit entre differentes boutiques en lignes.
            Afin que vous puissez comparateur le prix ou les caracteristiques d'un produit en fonction des differentes
            options qui s'offre a vous.
            si vous souhaitez effectuer une recherche vous pouvez cliquer sur le lien suivant.
        </p>
        <a href=""></a>
    </div>
</body>
</html>